body, html{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
   
    text-align: center;
}
h3{
    margin-bottom: 30px;;
}
.container{
    height: 100vh;
    margin: auto;
}
img{
    margin: 0px 10px 5px 10px;
    width: 4%;
}
img:hover{
     cursor: pointer;
}
.container>div>div>div{
     max-width: 400px;
     width: 100%;
    height: 400px;
    box-shadow: 0px 0px 5px  black;
    transition: transform 0.3s ease;
}
.container>div>div>div:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.error-message {
  color: #d9534f; 
  font-size: 0.9rem; 
  margin-top: 15px;   
}
input{
    background-color: aliceblue;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    border: 1px solid rgb(78, 105, 129);
}
.incor{
    background-color: #d9534f;
    box-shadow: 0 0 20px 5px #ff0000;;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
}
.cor{
    background-color: #68d94f;
    box-shadow: 0 0 20px 5px #00ff33;;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
}
#inputTrans {

    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.row{
    width: 100%;
}